.sidebar {
	display: flex;
	flex-direction: column;
	flex: 0.3;
}

.sidebar__header {
	display: flex;
	justify-content: space-between;
	padding: 2vh;
	border-right: 0.1vh solid lightcyan;
}

.sidebar__headerRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
	margin-right: 1rem;
	font-size: 4rem;
}

.sidebar__search {
	display: flex;
	align-items: center;
	height: 3.5rem;
	padding: 0.5rem;
}

.sidebar__searchContainer {
	display: flex;
	align-items: center;
	background-color: #fff;
	width: 100%;
	height: 4rem;
	border-radius: 0.8rem;
}

.sidebar__searchContainer > input {
	outline-width: 0;
  border: none;
  padding: 0.5rem 0.5rem;
  margin-right: 1rem;
  border-radius: 999px;
  background-color: #eff2f5;
  width: 100%;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
	color: gray;
	outline-width: 0;
	padding: 1rem;
}

.sidebar__chat {
	flex: 1;
	background-color: #fff;
	overflow: scroll;
}